*, ::after, ::before {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
font-size: 1.125rem;
line-height: 1.4;
color: #274066;
}
h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin: 0 0 15px;
  font-weight: 500;
}

.title-h1{
  line-height: 1.3;
  margin: 0 0 15px;
  font-weight: 500;
}
p {
  margin: 0 0 15px;
}
.main {
  .section2{
      padding: 10px 0;
      background: #f5fbff;
      display: block;
      .container {
          display: block;
          position: relative;
          .row {
              max-width: 64rem;
              margin: 0 auto;
              padding: 0 1rem;
              @media (min-width:768px) {
                  padding: 0 1.5rem;
              }
              width: 100%;
              .section2head {
                  margin-top: 4rem;
                  text-align: center;
                  h1 {
                      font-size: 24px;
                      font-weight: 700;
                      span {
                          background-color: #d01b34;
                          color: #fff;
                          padding: 0 1rem;
                      }
                  }
              }
              figure {
                  margin: 0 0 15px;
                  text-align: center;
              }
              .yellowbox {
                  background-color: #ffe300;
                  padding: 20px;
                  margin-bottom: 20px;
                  p {
                      margin: 0;
                  }
                  a {
                      color: #d01b34;
                      font-weight: bold;
                  }
                  .link-wrap {
                      a {
                          color: #222222;
                      }
                  }
                  .btn {
                      a {
                          //display: block;
                          //margin: 5px auto;
                          //padding: 10px 35px;
                          //border-radius: 3px;
                          //margin-top: 30px;
                          //background-color: #d01b34;
                          //color: #ffffff;
                          //text-align: center;
                          //font-size: 18px;
                      }
                  }
              }
              p {
                  font-weight: 400;
                  a {
                      color: #0D41B0;
                      font-weight: 700;
                  }
              }
              h2 {
                  font-size: 19px;
              }
              ul {
                  list-style: none;
                  margin-bottom: 1rem;
                  li {
                      margin-bottom: 10px;
                  }
              }
              .section2bottom {
                  h2 {
                      text-align: center;
                      font-size: 19px;
                      font-weight: bolder;
                  }
                  p {
                      font-weight: bolder;
                      text-align: center;
                      a {
                          color: #222222;
                      }
                  }
                  .linkbox{
                      padding: 20px 0 30px;
                      ul {
                          display: flex;
                          align-items: center;
                          flex-wrap: wrap;
                          justify-content: space-between;
                          list-style: none;
                          padding: 0px;
                          margin: 0 -15px;
                          li {
                              width: 100%;
                              padding: 0 15px 10px;
                              text-align: center;
                              @media (min-width:768px) {
                                  width: 50%;
                              }
                              a {
                                  display: block;
                                  background: #274066;
                                  color: #FFFFFF!important;
                                  border-radius: 2px;
                                  text-decoration: none;
                                  font-size: 22px;
                                  font-weight: 500;
                                  padding: 10px 0;
                                  width: 100%;
                              }
                          }
                      }
                      .link-href {
                          a {
                              display: block;
                              margin: 5px auto;
                              padding: 10px 35px;
                              border-radius: 3px;
                              background-color: #d01b34;
                              color: #ffffff;
                              text-align: center;
                              font-size: 1.2rem;
                              @media (min-width:768px) {
                                  font-size: 1.5rem;
                              }
                          }
                      }
                  }
              }
          }
      }
  }
  .mobile-cta {
      @media (min-width:768px) {
          display: none;
      }
      text-align: center;
      padding-top: 1rem;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      height: 120px;
      margin: 0 auto;
      position: fixed;
      bottom: -120px;
      left: 0;
      right: 0;
      z-index: 9999;
      transform: translateY(100%);
      transition: all 0.5s ease-in-out !important;
      &.mobile-cta-open {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          bottom: 0;
      }
      .mobile-cta-container {
          padding: 0 1.25rem;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          display: flex;
          .help {
              padding: .875rem 1.5rem;
              background-color: #d01b34;
              border-radius: .125rem;
              width: 100%;
              display: block;
              margin-bottom: .375rem;
              font-size: 1rem;
              font-weight: 700;
              color: #fff;
              text-decoration: none;
          }
          .call {
              text-decoration: none;
              color: #274066;
          }
      }
  }
}
