.congrats-card {
  margin: 2rem 1rem;
  padding: 2rem 1rem;
  background-color: white;
  border-radius: 10px;
  max-width: 45rem; }
  @media (min-width: 768px) {
    .congrats-card {
      min-width: 45rem; } }

.form-end-congrats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5FBFF; }

.form-end {
  width: 100%;
  background-color: #F5FBFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: initial;
  padding: 4rem 1.5rem;
  min-height: 60vh; }
  .form-end .congrats-message {
    max-width: 42rem; }
    .form-end .congrats-message .congrats-headline-cta, .form-end .congrats-message .congrats-text, .form-end .congrats-message .congrats-deadline {
      margin-bottom: 1.5rem; }
    @media (min-width: 576px) {
      .form-end .congrats-message .congrats-headline-cta {
        font-size: 2rem; } }
    .form-end .congrats-message .congrats-text {
      font-size: 1.1rem;
      line-height: 1.5; }
    .form-end .congrats-message .form-end-contact {
      margin-bottom: 1.5rem;
      --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-ring-shadow: 0 0 #0000;
      -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
              box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      max-width: 28rem;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      -webkit-animation: throb 1s ease-in-out infinite alternate;
              animation: throb 1s ease-in-out infinite alternate;
      cursor: pointer;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      text-decoration: none; }
      .form-end .congrats-message .form-end-contact .contact-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #dc2626;
        border-radius: .5rem;
        padding: 1rem 2rem;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%; }
        .form-end .congrats-message .form-end-contact .contact-btn img {
          width: 3rem;
          height: 3rem;
          margin-right: .25rem; }
          @media (min-width: 1024px) {
            .form-end .congrats-message .form-end-contact .contact-btn img {
              width: 4em;
              height: 4em;
              margin-right: 1em; } }
        .form-end .congrats-message .form-end-contact .contact-btn .toll-free {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          white-space: nowrap;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .form-end .congrats-message .form-end-contact .contact-btn .toll-free span {
            font-size: 1.5rem;
            font-weight: 700; }
            @media (min-width: 1024px) {
              .form-end .congrats-message .form-end-contact .contact-btn .toll-free span {
                font-size: 2.25rem; } }
          .form-end .congrats-message .form-end-contact .contact-btn .toll-free .tfn-cta {
            font-weight: 600;
            line-height: 1.4;
            font-size: 1rem; }
            @media (min-width: 1024px) {
              .form-end .congrats-message .form-end-contact .contact-btn .toll-free .tfn-cta {
                letter-spacing: .1em;
                letter-spacing: 2; } }
    .form-end .congrats-message .congrats-deadline .uppercase {
      text-transform: uppercase; }

.animate-throb {
  -webkit-animation: throb 1s ease-in-out infinite alternate;
          animation: throb 1s ease-in-out infinite alternate; }

@-webkit-keyframes throb {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); } }

@keyframes throb {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); } }
/*# sourceMappingURL=FormEnd.css.map */